<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Students list</h1>
 <table id = "all-students">
     {% if student| length ==0 %}
     No student found.Add the students now!
     {% endif %}
     {% for students in student %}
<tr>
<th>SNo</th>
<th>Roll Number</th>
<th>First Name</th>
<th>Last Name</th>
<th>Actions</th>
</tr>

<tr>
<td>{{loop.index}}</td>
<td><a href="/student/{{students.student_id}}">{{students.roll_number}}</a></td>
<td>{{students.first_name}}</td>
<td>{{students.last_name}}</td>
<td>
<a href="/student/{{students.student_id}}/update" type="button">Update</a>
<a href="/student/{{students.student_id}}/delete" type="button">Delete</a>
     {% endfor%}
</td>

</tr>
</table>
<a href="/student/create">+Add Student</a>
</body>
</html>